%section.login-block
  = flash[:danger]
  .container
    .row
      .col-md-4.login-sec
        %h2.text-center Login Now
        = form_for(:session, html: {class: "form-horizontal", role: "form"}, url: login_path) do |f|
          .form-group
            .control-label.col-md-2
              = f.label :email
            .col-md-10
              = f.email_field :email, class: "form-control", placeholder: "Enter your email"
          .form-group
            .control-label.col-md-2
              = f.label :password
            .col-md-10
              = f.password_field :password, class: "form-control", placeholder: "Enter your password"
          .form-group
            .col-md-offset-2.col-md-10
              = f.submit "Log in", class: 'btn btn-primary btn-lg btn-xlarge'
            #{link_to "Don't have an account? Sign up now!", new_user_path}

      .col-md-8.banner-sec
        #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
            %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
            %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
          .carousel-inner{:role => "listbox"}
            .carousel-item.active
              %img.d-block.img-fluid{:alt => "First slide", :src => "https://static.pexels.com/photos/33972/pexels-photo.jpg"}/
              .carousel-caption.d-none.d-md-block
                .banner-text
                  %h2 This is Heaven
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            .carousel-item
              %img.d-block.img-fluid{:alt => "First slide", :src => "https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"}/
              .carousel-caption.d-none.d-md-block
                .banner-text
                  %h2 This is Heaven
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            .carousel-item
              %img.d-block.img-fluid{:alt => "First slide", :src => "https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"}/
              .carousel-caption.d-none.d-md-block
                .banner-text
                  %h2 This is Heaven
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
