%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bootstrap Example
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/emojione/1.5.0/assets/css/emojione.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"}
    %script{:src => "https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.js"}
  %body
    %nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      / Brand
      / %a.navbar-brand{:href => "dashboards_path"} StandUp
      / #{link_to "StandUp", dashboards_path,class: "navbar-brand"}
      =image_tag("logo.png",  alt: "StandUp")
      / Links
      %ul.navbar-nav
        %li.nav-item
          / %a.nav-link{:href => "#"} Home
          #{link_to "Home", dashboards_path,class: "nav-link"}
        %li.nav-item
          #{link_to "Workflows", dashboards_path,class: "nav-link"}
          / %a.nav-link{:href => "#"} Workflows
        %li.nav-item
          #{link_to "Teams", teams_path,class: "nav-link"}
        %li.nav-item
          #{link_to "Logout", logout_path,class: "nav-link pull-right"}
        / Dropdown

    %br/
    %h4.pl-3 Workflow Builder
    %hr/
    .container
      .row
        %aside.col-sm-3
          .card
            %article.card-group-item
              %header.card-header
                %h6.title Steps
              .filter-content
                .list-group.list-group-flush
                %span
                  #{link_to "Setup", dashboards_path,class: "list-group-item active"}
                  / %a.list-group-item{"data-toggle" => "pill", :href => "dashboards_path"}
                  /   Setup
                  /   %span.float-right.badge.badge-light.round
                %span
                  #{link_to "Schedule", schedules_path,class: "list-group-item"}
                  / %a.list-group-item.text-dark{"data-toggle" => "pill", :href => "schedules_path"}
                  /   Schedule
                  /   %span.float-right.badge.badge-light.round
                %span
                  #{link_to "Builder", builders_path,class: "list-group-item"}
                  / %a.list-group-item.text-dark{"data-toggle" => "pill", :href => "#menu3"}
                  /   Builder
                  /   %span.float-right.badge.badge-light.round
                %span
                  #{link_to "Pariticipants", participants_path,class: "list-group-item"}
                  / %a.list-group-item.text-dark{"data-toggle" => "pill", :href => "#menu4"}
                  /   Pariticipants
                  /   %span.float-right.badge.badge-light.round
                %span
                  #{link_to "Notifications", notifications_path,class: "list-group-item"}
                  / %a.list-group-item.text-dark{"data-toggle" => "pill", :href => "#menu5"}
                  /   Notifications
                  /   %span.float-right.badge.badge-light.round
                %span
                  #{link_to "View Info", view_infos_path,class: "list-group-item"}
                  / %a.list-group-item.text-dark{"data-toggle" => "pill", :href => "#menu6"}
                  /   Review
                  /   %span.float-right.badge.badge-light.round
                / list-group .//
            / card-group-item.//
          / card.//
        / col.//
        .col-sm-9
          =form_for(:dashboard, html: { class: "form-horizontal", role: "form" }) do |f|
            %aside.col-sm-12
              .card
                %article.card-group-item
                  %header.card-header
                    %h6.title Name *
                  .filter-content
                    .card-body
                      .form-row
                        .form-group.col-md-12
                          =f.label :setup_name
                          =f.text_field :setup_name, class: "form-control", placeholder: "Give the workflow a name. The shorter, the better!"
                    / card-body.//
                / card-group-item.//
              / card.//
            / col.//
            %aside.col-sm-12
              .card
                %article.card-group-item
                  %header.card-header
                    %h6.title Icon *
                  .filter-content
                    .card-body
                      %p Choose an emoji to make each workflow easily recognizable
                      =f.text_field :icon, id: "standalone"
                    / card-body.//
                / card-group-item.//
              / card.//
            / col.//
            %aside.col-sm-12
              .card
                %article.card-group-item
                  %header.card-header
                    %h6.title Purpose *
                  .filter-content
                    .card-body
                      .form-row
                        .form-group.col-md-12
                          =f.label :purpose
                          =f.text_area :purpose, class: "form-control", placeholder: "Why does this workflow exist?"
                    / card-body.//
                / card-group-item.//
              / card.//
            / col.//
            %br/
            %aside.col-sm-12
              .card
                %button.btn.btn-primary Next
              / card.//
            / col.//
      / row.//
    / container.//

  :javascript
    $(document).ready(function() {
        $("#standalone").emojioneArea({
            pickerPosition: "down"
        });
    })

